<h3><img src ="http://www.xenosysusa.com/images/home/under.png" id="image2" width="650" height="100"></h3>
<h3> <a class="btn btn-secondary" href="/cliente/list"><i class="fa fa-home"></i> Volver</a> {{viewTitle}} </h3>
<form action="/cliente" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{cliente._id}}" name="anioDictado" value="{{cliente.anioDictado}}">
    <div class="form-row">
    <div class="form-group col-md-4">
        <label>Año de Dictado</label>
        <input type="text" class="form-control" name="anioDictado" placeholder="Año de Dictado" value="{{cliente.anioDictado}}">
        <div class="text-danger"> {{cliente.anioDictadoError}} </div>
    </div>
    <div class="form-group col-md-4">
        <label>Duracion</label>
        <input type="text" class="form-control" name="duracion" placeholder="Duracion" value="{{cliente.duracion}}">
        <div class="text-danger"> {{cliente.duracionError}} </div>
    </div>
    <div class="form-group col-md-4">
        <label>Tema</label>
        <input type="text" class="form-control" name="tema" placeholder="Tema" value="{{cliente.tema}}">
        <div class="text-danger"> {{cliente.temaError}} </div>
    </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" title="Edita los datos del curso y/o ingresa un nuevo alumno al curso (si solo se quiere editar datos del curso, dejar en blanco el sector de 'Agregar Alumno')"><i class="fa fa-database"></i> Agregar</button>

        
    </div>
<h3> Agregar un alumno </h3>
<div class="form-row">
    <div class="form-group col-md-4">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{cliente.nombre}}">
        <div class="text-danger"> {{cliente.nombreError}} </div>
    </div>
    <div class="form-group col-md-4">
        <label>Apellido</label>
        <input type="text" class="form-control" name="apellido" placeholder="Apellido" value="{{cliente.apellido}}">
        <div class="text-danger"> {{cliente.apellidoError}} </div>
    </div>
    <div class="form-group col-md-4">
        <label>DNI</label>
        <input type="text" class="form-control" name="DNI" placeholder="DNI" value="{{cliente.DNI}}">
        <div class="text-danger"> {{cliente.DNIError}} </div>
    </div>
    <div class="form-group col-md-4">
        <label>Direccion</label>
        <input type="text" class="form-control" name="direccion" placeholder="Direccion" value="{{cliente.direccion}}">
        <div class="text-danger"> {{cliente.direccionError}} </div>
    </div>
    <div class="form-group col-md-4">
        <label>Nota</label>
        <input type="text" class="form-control" name="nota" placeholder="Nota" value="{{cliente.nota}}">
        <div class="text-danger"> {{cliente.notaError}} </div>
    </div>
    
    </div>
</form>